body {
    background-image: url(../img/background.jpg);
    font-family: "Roboto", sans-serif;

}

.main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 10%;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.input-number {
    font-size: 20px;
    font-weight: bold;
    width: 200px;
    height: 50px;
    text-align: end;
    border: solid 3px black;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    margin-top: 1px;
}

.calc-button {
    background: white;
    border: solid 2px #c00000;
    cursor: pointer;
    outline: none;
    min-width: 50px;
    height: 50px;
    font-size: 25px;
    content: '';
}

.calc-button:focus {
    outline: none;
}

#calcResult {
    font-size: 30px;
}

.calc-button:hover {
    background: #c00000;
    transition: .3s;
}

.calc-button:active {
    background: darkred;
    border: darkred solid 2px;
}

.array-counter {
    margin-top: 50px;
}

.array-button {
    background: white;
    border: solid 2px green;
    cursor: pointer;
    outline: none;
    min-width: 10px;
    font-size: 20px;
    min-height: 50px;
}

.array-button:hover {
    background: green;
    transition: .3s;
}

.array-button:active {
    background: darkgreen;
    border: darkgreen solid 2px;
}

.array-button:focus {
    outline: none;
}

#arrResult {
    max-width: 320px;
    margin: auto;
}

.array-counter > div:first-child {
    max-width: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.kc-main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.kc-body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 30%;
}

.kc-respects-count {
    background: whitesmoke;
    margin: 10px auto 0 auto;
    font-size: 30px;
    /*border: black 1px solid;*/
    border-radius: 20px;
    min-width: 300px;
    padding-left: 20px;
    display: inline-block;
}

.kc-respects-count > span {
    font-weight: bold;
    padding: 0 20px;
    float: right;
}

.kc-button {
    background: none;
    border: none;
    width: 15%;
    text-align: left;
    cursor: pointer;
    outline: none;
    padding: 0;
}

.kc-button:active,
.kc-button:focus {
    outline: none;
}

.kc-button > img {
    width: 100%;
    height: 100%;
}

.kc-scale {
    -webkit-transform: scale(0.94);
    transform: scale(0.94);
    width: 10%;
    /*box-shadow:0 0 0 128px rgba(0, 0, 0, 0.33) inset;*/
}

#storePanel {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 100;
}

#storePanel > div {
    padding-left: 64px;
    cursor: pointer;
    width: 300px;
    height: 70px;
    border: 2px black solid;
    background: wheat;
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

#storePanel > div > div {
    font-weight: bold;
    position: relative;
    right: 10px;
    bottom: 12px;
    font-size: 30px;
    float: right;
}

#storePanel > div:hover {
    background: white;
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

#storePanel > div:active {
    background: goldenrod;
    background-size: 64px 64px;
    background-repeat: no-repeat;
}

#savePanel {
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
}

#savePanel > h1 {
    font-size: 20px;
}

#resetSave {
    cursor: pointer;
    /*border: 1px solid black;*/
    border-radius: 8px;
    background: wheat;
    padding: 5px;
    width: 100px;
    text-align: center;
}

#resetSave:hover {
    background: goldenrod;
}

#resetSave:active {
    background: darkgoldenrod;
}